@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import './scss/vars';

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 18px;
  font-family: $mainFont;
}

h1, h2, h3, h4, h5 {
  color: $color1;
}

header {
  background-color: $color_dark;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 2px -2px gray;
}

.customerDetails {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px 0;

  h2,h3 { margin: 0; padding: 0;}
  
  p {
    margin: 0;
    padding: 0;
  }
}

.filter_form {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;

  input {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    
  }
  input[type=submit] {
    width: 50%;
    border-radius: 0;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color:$color_dark;
    color: white;
  }
  

}